<style>
    .btn
    {
        border:1px solid #26800b;
        padding: 0px;
        width:75px;
        height:50px;
    }

</style>

<div class="container">

    <div>
        <div align="right">
            <input style="height: 20px;weight:20px"  type="image" src="add.png" ng-click="stab()"></input>
            <div ng-show="tab === 1">
                <form accept-charset="UTF-8" role="form" name="frm" ng-submit="addword()">
                    <fieldset>
                        <div class="form-group" style="width: 400px">
                            <input class="form-control" ng-model="newword" placeholder="Oluşturacağınız kelimeyi girin" type="text" value="" >
                        </div>
                        <div class="form-group" style="width: 400px">
                            <input class="form-control" ng-model="newmean" placeholder="Kelimenin Anlamını Girin" type="text" value="" >
                        </div>
                        <input  class="btn btn-primary" type="submit" value="oluştur">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <table class="table table-striped">
        <tr>
            <td>
                Kelime
            </td>
        </tr>
        <tr ng-repeat="word in words">
            <td>
                {{word.name}}
            </td>
            <td>
                <a ui-sref="worddetail({id: word.id})">detay..</a>
            </td>
        </tr>
    </table>
    <br/>
    <h1>-{{user}}-</h1>
</div>


